<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Finanças a Dois</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <header>
        <h1>Finanças a Dois</h1>
        <p>Controle financeiro compartilhado entre Kleber e Giovanna.</p>
    </header>

    <main>

        <section class="resumo">

            <div class="card">
                <h2>Renda Total</h2>
                <p th:text="${rendaTotal}">R$ 0,00</p>
            </div>

            <div class="card">
                <h2>Gastos Totais</h2>
                <p th:text="${gastosTotais}">R$ 0,00</p>
            </div>

            <div class="card">
                <h2>Total Guardado</h2>
                <p th:text="${guardadoTotal}">R$ 0,00</p>
            </div>

            <div class="card">
                <h2>Saldo</h2>
                <p th:text="${saldo}">R$ 0,00</p>
            </div>

        </section>

    </main>

</div>

</body>
</html>